*{
    padding: 0%;
    margin: 0%;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container-heading{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: grey;
    text-align: center;
}
.nav-bar{
   padding: 10px;
   display: flex;
   justify-content: center;
}
.nav-bar ul{
    display: flex;
    gap: 10px;
}
.nav-bar ul li {
    list-style: none;
    color: grey;

}
.nav-bar ul li a{
    text-decoration: none;
    color: lightgrey;
}
.nav-bar ul li a:hover{
    color: grey;
    cursor: pointer;
}
.Search-bar{
    padding: 20px;
    border: solid black 1px;
    margin: 10px;
    width: 50%;
    margin-left: 20%;
    justify-content: center;
    border-radius: 30px;
}
.search{
    width: 95%;
    align-items: center;
    border: none;
}
.search:focus{
    outline: none;
}
::placeholder{
    font-size: 15px;
}
.Product-container{
    padding: 20px;
}
.Product-container h2{
    text-align: center;
}
.product-bar{
    display: flex;
    text-align: center;
    gap: 5%;
    margin-top: 30px;
}
.product-bar-1{
    border: solid black 1px;
    padding: 5px;
    
}
.product-bar-1 img{
    height: 300px;
    width: 300px;
    justify-content: center;
    align-items: center;
}
.product-bar-1:hover{
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 5px;
}
.About-section{
    margin: 10px;
    text-align: center;
}
.About-section h2{
    
}
.about-section-para{
    display: flex;
    padding: 30px;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
   
}
.production-section{
    border-radius: 10px;
    background-color: lightgrey;
    padding: 30px;
    display: block;
}
.production-section:hover{
    background-color: transparent;
    border: solid black 1px;
    cursor: pointer;
}
.contctact-us{
    text-align: center;
    padding: 10px;
    background-color: black;
    color: white;
}
.footer-icon{
    padding: 10px;
    margin-top: 10px;
}

.footer-2{
    margin-top: 10px;
}